.filter {
    margin-top: 1.5rem;
    background-color: white;
}

.filter :global(.navds-fieldset):not(:last-child) {
    margin-bottom: 1.5rem;
}

.filter :global(.navds-checkbox__label) {
    padding-bottom: 0.5rem;
}

.fjernFilter {
    grid-column: span 2;
    display: flex;
    justify-content: flex-end;
}

.fjernFilter button {
    padding: 0.5rem;
    background: none;
}
