.resultat {
    display: flex;
    flex-direction: column;
}

.telling {
    display: flex;
    justify-content: space-between;
}

.kandidater {
    padding: 0;
    margin: 1.5rem 0 0;
    list-style: none;
}

.kandidat {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 1.5rem;
}

.kandidatinformasjon {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
}

.jobbønsker {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 70%;
}

.fremhevetKandidat {
    box-shadow: inset 0 0 0 3px var(--navds-global-color-orange-200);
}

.kandidat:nth-child(2n-1) {
    background-color: white;
}
