.kandidater {
    padding: 0;
    margin: 1.5rem 0 0;
    list-style: none;
}

.kandidat {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 1.5rem;
}

.kandidat:nth-child(2n-1) {
    background-color: white;
}
