.suggestionPopover[data-reach-combobox-popover] {
    transform: translateY(4px);
    border-radius: var(--navds-border-radius-medium);
    border-color: var(--navds-search-color-border);
    box-shadow: var(--navds-shadow-medium);
}

.suggestion[data-reach-combobox-option][data-highlighted],
.suggestion[data-reach-combobox-option]:hover {
    background-color: var(--navds-global-color-blue-100);
}

.suggestion[data-reach-combobox-option] {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.suggestion:first-child {
    border-radius: var(--navds-border-radius-medium) var(--navds-border-radius-medium) 0 0;
}

.suggestion:last-child {
    border-radius: 0 0 var(--navds-border-radius-medium) var(--navds-border-radius-medium);
}

.suggestion:only-child {
    border-radius: var(--navds-border-radius-medium);
}

.suggestion [data-user-value] {
    font-weight: bold;
}
.suggestion [data-suggested-value] {
    font-weight: normal;
}
