.suggestionPopover {
    transform: translateY(4px);
    border-radius: 0.25rem;
}

.suggestion {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.suggestion:first-child {
    border-radius: 0.2rem 0.2rem 0 0;
}

.suggestion:last-child {
    border-radius: 0 0 0.2rem 0.2rem;
}

.suggestion:only-child {
    border-radius: 0.2rem;
}

.suggestionPopover [data-reach-combobox-option][data-highlighted],
.suggestionPopover [data-reach-combobox-option]:hover {
    background-color: var(--navds-global-color-blue-100);
}

.suggestion [data-user-value] {
    font-weight: bold;
}
.suggestion [data-suggested-value] {
    font-weight: normal;
}
