.posisjon {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 10;
    border-radius: 0.25rem;
}

.regnbuebord {
    padding: 0.25rem;
    background-image: linear-gradient(
        45deg,
        var(--navds-global-color-blue-300) 0%,
        var(--navds-global-color-orange-200) 40%,
        var(--navds-global-color-red-100) 100%
    );
}

.regnbuebord button {
    background-color: white;
}

.regnbuebord button:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.kjedeligBord {
    border: solid 0.25rem var(--navds-global-color-gray-200);
}
