.innhold {
    width: 40rem;
    padding: 1.5rem;
}

.liste {
    list-style: none;
    padding: 0;
    margin: 1.5rem 0;
}

.kandidatliste {
    display: flex;
    gap: 1rem 1rem;
    align-items: center;
}

.valgtKandidatliste {
    background-color: var(--navds-global-color-green-100);
}

.lagreKandidaterKnapp {
    margin-right: 1rem !important;
}
