.handlinger {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 900px) {
    .handlinger {
        flex-direction: row;
        justify-content: space-between;
    }
}

.lasterInn {
    align-self: center;
    margin: 5rem 1rem;
}

.knapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.matcheknapp {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 10;
    padding: 0.25rem;
    border-radius: 0.25rem;
    background-image: linear-gradient(
        45deg,
        var(--navds-global-color-blue-300) 0%,
        var(--navds-global-color-orange-200) 40%,
        var(--navds-global-color-red-100) 100%
    );
}

.matcheknapp a {
    background-color: white;
}

.matcheknapp label {
    cursor: pointer;
}

.kandidater {
    display: flex;
    flex-direction: column;
}

.kandidatrader {
    padding: 0;
    margin: 0 0;
    list-style: none;
}

.overKandidater {
    padding: 0.5rem 1.5rem;
    margin: 0.5rem 0 0;
}

.markerAlleLabel {
    margin-left: 1rem;
    font-size: 1rem;
}
