.container {
    background-color: var(--a-deepblue-100);
}

.banner {
    max-width: var(--app-maksbredde);
    margin: 0 auto;
    padding: 2rem 2rem;
    grid-column: span 2;

    display: flex;
    flex-direction: column;
}

.lenker {
    margin-top: 1rem;
}

.lenker a:first-child {
    margin-right: 1.5rem;
}

@media (min-width: 900px) {
    .banner {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .lenker {
        margin-top: 0rem;
    }
}

.banner h1 {
    margin-bottom: 1rem;
}
