.panel {
    padding: 1rem 2rem;
    overflow: hidden;
}

.panel code {
    white-space: pre;
    overflow-wrap: anywhere;
    word-break: break-all;
}

.wrapper {
    max-width: 80rem;
    margin: 2.5rem auto;
}

.wrapper p,
.wrapper a {
    margin-bottom: 1rem;
}
