.utviklingsapp {
    display: flex;
    background-color: white;
    font-size: 0.9rem;
    align-items: center;
    padding: 1rem;
    color: var(--navds-global-color-gray-400);
    font-family: 'Source Sans Pro';
}

.utviklingsapp a {
    margin-left: 1rem;
}
